@model Tcc.Models.modelAtendimento

@{
    ViewBag.Title = "Cadastro de Atendimento - ";
    Layout = "~/Areas/Funcionario/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center titulo-funcionario">Cadastro de Atendimento</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group text-center fw-bolder">
        @Html.LabelFor(model => model.dataHoraAtendimento, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-6 offset-md-3 pt-2">
            @Html.ValidationMessageFor(model => model.dataHoraAtendimento, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 offset-md-4 pt-2">
            @Html.EditorFor(model => model.dataHoraAtendimento, new { htmlAttributes = new { @class = "form-control d-inline-flex text-center" } })
        </div>
    </div>
    <br />
    <div class="form-group text-center fw-bolder">
        @Html.LabelFor(model => model.descricaoAtendimento, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-6 offset-md-3 pt-2">
            @Html.ValidationMessageFor(model => model.descricaoAtendimento, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 offset-md-4 pt-2">
            @Html.EditorFor(model => model.descricaoAtendimento, new { htmlAttributes = new { @class = "form-control d-inline-flex text-center" } })
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-4 offset-md-4 pt-2 text-center">
        @Html.DropDownList("status", "Escolha o Status")
    </div>
    <br />
    <br />
    <div class="col-md-4 offset-md-4 pt-2 text-center">
        @Html.DropDownList("animais", "Escolha o Pet")
    </div>
    <br />
    <br />
    <div class="col-md-4 offset-md-4 pt-2 text-center">
        @Html.DropDownList("clinicas", "Escolha a Clínica")
    </div>
    <br />
    <br />
    <div class="col-md-4 offset-md-4 pt-2 text-center">
        @Html.DropDownList("veterinarios", "Escolha o(a) Veterinário(a)")
    </div>
    <br />
    <br />
    <div class="form-group text-center fw-bolder">
        <div class="col-md-12">
            <input type="submit" value="Cadastrar" class="btn btn-success rounded-pill" />
        </div>
    </div>
    <br />
</div>
}

<div class="text-center">
    @Html.ActionLink("Voltar", "ListarAtendimento", "Atendimento")
</div>
