@model IEnumerable<Tcc.Models.modelAtendimento>
@{
    ViewBag.Title = "Área do Cliente -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .box {
            border: 1px solid #CCCCCC;
            background-color: #FFFFFF;
            box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 20px;
            transition: 0.3s;
        }

            .box:hover {
                transform: scale(1.05);
                border: 1px solid #5b00e6;
                background-color: #FFFFFF;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                padding: 20px;
                border-radius: 20px;
                margin-bottom: 20px;
            }

        .history-title {
            font-size: 35px;
            font-weight: 700;
            color: #5A20B5;
        }

        .history-item {
            font-size: 25px;
            color: #000;
            font-weight: 600;
        }

        .info-btn {
            font-size: 18px;
            font-weight: bold;
            padding: 10px 20px;
            border: 4px solid #6400FF;
            background-color: #6400FF;
            color: #FFFFFF;
            border-radius: 30px;
            text-decoration: none;
        }

            .info-btn:hover {
                border: 4px solid #6400FF;
                background-color: #fff;
                text-decoration: none;
                color: #6400FF;
            }

        .view-all-btn {
            border: 4px solid #DF83FF;
            font-size: 18px;
            font-weight: bold;
            padding: 10px 20px;
            background-color: #DF83FF;
            color: #FFFFFF;
            border-radius: 30px;
            transition: 0.3s;
            text-decoration: none;
        }

            .view-all-btn:hover {
                transform: scale(1.05);
                border: 4px solid #DF83FF;
                background-color: #DF83FF;
                text-decoration: none;
                color: #FFFFFF;
            }

        .titulos {
            text-transform: uppercase;
            font-weight: bold;
            color: #6400FF;
            font-size: 60px
        }

        .tituloss {
            text-transform: uppercase;
            font-weight: bold;
            color: #000;
            font-size: 45px
        }

        .fundo {
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
            background-color: rgba(131, 192, 255, 0.35);
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center titulos">Seja Bem-vindo, @Session["usuarioLogado"]</h1>
        <div class="mt-5">
            <div class="row mt-5">
                <div class="col-md-3 text-center mx-auto box">
                    <i class="fas fa-user icones" style="font-size: 40px; color: #6400FF;"></i>
                    <p class="my-3 fw-bold">Informações do usuário</p>
                    <a href="@Url.Action("DetalhesCliente", "Cliente", new { id = Session["idLogado"] })" class="btn btn-custom info-btn">Ver informações</a>
                </div>
                <div class="col-md-3 text-center mx-auto box">
                    <i class="fas fa-calendar-plus" style="font-size: 40px; color: #6400FF;"></i>
                    <p class="my-3 fw-bold">Agendamento de Consulta</p>
                    <a href="@Url.Action("AgendarConsulta", "Cliente")" class="btn btn-custom info-btn">Solicite Agora!</a>
                </div>
                <div class="col-md-3 text-center mx-auto box">
                    <i class="fas fa-paw" style="font-size: 40px; color: #6400FF;"></i>
                    <p class="my-3 fw-bold">Informações dos pets</p>
                    <a href="@Url.Action("Index", "Animal", new { id = Session["idLogado"] })" class="btn btn-custom info-btn">Ver informações</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8 offset-2 text-center p-4 my-3 fundo">
            <h2 class="tituloss mt-auto mb-3">Últimos atendimentos</h2>
            @if (Model.Count() == 0)
            {
                <div class="history-title py-3">Você não tem atendimentos, agende a sua primeira consulta em nosso telefone comercial!</div>
            }
            else if (Model.Count() >= 3)
            {
                foreach (var item in Model)
                {
                    <div class="history-title py-3">@item.dataHoraAtendimento - @item.descricaoAtendimento (@item.nomeAnimal)</div>
                    <div class="history-item mb-1 py-3">Clínica @item.nomeClinica - @item.logradouroEndereco, @item.numeroEndereco - @item.cepEndereco - @item.bairroEndereco - @item.cidadeEndereco, @item.siglaEstado</div>
                }
                <a href="@Url.Action("Historico", "Cliente", new { area = "", id = Convert.ToInt32(Session["idLogado"]) })" class="btn btn-custom view-all-btn mt-3">Ver todos os atendimentos</a>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="history-title py-3">@item.dataHoraAtendimento - @item.descricaoAtendimento (@item.nomeAnimal)</div>
                    <div class="history-item mb-1 py-3">Clínica @item.nomeClinica - @item.logradouroEndereco, @item.numeroEndereco - @item.cepEndereco - @item.bairroEndereco - @item.cidadeEndereco, @item.siglaEstado</div>
                }
            }
        </div>
    </div>
    <script>
        function AgendarConsulta() {
            var especSelecionada = document.getElementById("dropdown").value;
            if (especSelecionada !== "") {
                var url = "/Cliente/AgendarConsulta/" + especSelecionada;
                window.location.href = url;
            }
        }
    </script>
</body>